body {
  color: #999;
}

.welcome {
  color: rgb(61, 192, 146);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.game-all {
  width: 680px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.game {
  width: 120px;
  height: 120px;
  background-color: rgb(0, 185, 170);
  margin: 25px;
  border-radius: 15%;
}

.activGame {
  background-image: url('../img/goblin.png');
  cursor: url('../img/123.png'), auto;
}

.counter {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 24px;
}
